html {
  /*
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal_striped_brick.png');
  */
  background-image: url('/img/autumn.jpg');
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
